<header class="hero-unit" id="banner">
  <div class="container">
    <ol class="breadcrumb">
      <li><a ui-sref="main.list">Dictionaries</a></li>
      <li><a ui-sref="main.edit({id : learn.$stateParams.id})">{{learn.dictionary.name}}</a></li>
      <li class="active">Learning</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">

      <div class="" style="">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" 
            aria-valuenow="{{learn.cards.length}}" 
            aria-valuemin="0" 
            aria-valuemax="{{learn.totalCardsToLearn - learn.cards.length}}"
            style="width: {{(learn.totalCardsToLearn - learn.cards.length) / learn.totalCardsToLearn * 100}}%;">
            {{learn.cards.length}} left
          </div>
        </div>
        
        <audio id="player"></audio>
          
        <div ng-if="!learn.editMode">
          <div class="well" style="margin-bottom: 0px;" ng-click="learn.play()">
            <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;{{learn.ru_sw ? learn.card.translation : learn.card.name}}
          </div>
          <div class="text-center">
            <span class="btn" ng-click="learn.ru_sw = !learn.ru_sw">SW&nbsp;<span class="glyphicon glyphicon-arrow-{{learn.ru_sw ? 'left' : 'right'}}"></span>&nbsp;RU</span>
          </div>
          <div class="well" ng-click="learn.showTranslation = true;">
            {{learn.showTranslation ? (learn.ru_sw ? learn.card.name : learn.card.translation) : 'Tap here to see translation...'}}
          </div>
          <button class="btn btn-primary" ng-click="learn.nextCard()">Next</button>
          <button class="btn btn-success" ng-click="learn.learnCard(learn.card)">Learn</button>
          &nbsp;
          <button class="btn" ng-click="learn.translateCard(learn.card)">Examples</button>
          <button class="btn" ng-click="learn.editCard(learn.card)">Edit</button>
        </div>

        <div ng-if="learn.editMode">
          <div class="form-group">
            <label for="word">Word</label>
            <input ng-if="learn.editMode" type="text" id="word" name="word" class="form-control" ng-model="learn._cardName" />
          </div>
          <div class="form-group">
            <label for="translation">Translation</label>
            <input ng-if="learn.editMode" type="text" id="translation" name="translation" class="form-control" ng-model="learn._cardTranslation" />
          </div>
          <button class="btn" ng-click="learn.editMode = false">Cancel</button>
          <button class="btn btn-success" ng-click="learn.saveCard(learn.card)">Save</button>
        </div>
        
        <div class="col-lg-12" ng-bind-html="learn.translationHtml"></div>
      </div>

  </div>
</div>
