<header class="hero-unit" id="banner">
  <div class="container">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      <h1 class="page-header">{{edit.dictionary.name}}</h1>
      
      <div class="list-group">
        <span class="list-group-item">
          <input type="text" class="" ng-model="edit.newCard"></input>
          <span class="pull-right">
            <button class="btn btn-xs btn-info" ng-click="edit.addCard(edit.newCard)">
               <span class="glyphicon glyphicon-plus"></span>Add</button>
          </span>
        </span>
        <span class="list-group-item" ng-repeat="card in edit.dictionary.cards">
          <a class="" ui-sref="edit.card({ id: card._id })">{{card.name}}</a>
          <span class="pull-right">
            <button class="btn btn-xs btn-warning" ng-click="edit.deleteCard(card)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
