<header class="hero-unit" id="banner">
  <div class="container">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dictionaries:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="dictionary in main.dictionarys">
        <li><a href="#/learn/{{dictionary._id}}" tooltip="{{dictionary.name}}">{{dictionary.name}}</a></li>
      </ul>
      <div>
        <input type="text" class="col-md-12 col-lg-12 col-sm-12" ng-model="main.newDictionary"></input>
        <button ng-click="addDictionary(main.newDictionary)" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>Add
        </button>
      </div>
    </div>
  </div>
</div>
