<header class="hero-unit" id="banner">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Dictionaries</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="list-group">
        <span class="list-group-item" ng-repeat="dictionary in main.dictionarys">
          <a ui-sref="learn({ id: dictionary._id })">{{dictionary.name}}</a>
          <span class="pull-right">
            <a class="btn btn-xs btn-info" ui-sref="edit({ id: dictionary._id })">
               <span class="glyphicon glyphicon-pencil"></span>Edit</a>
            <button class="btn btn-xs btn-warning" ng-click="main.deleteDictionary(dictionary); $event.stopPropagation();">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </span>
        <span class="list-group-item form-inline" href=#>
          <span class="form-group">
            <input type="text" class="form-control" ng-model="main.newDictionary"></input>
            <button class="btn btn-xs btn-info" ng-click="main.addDictionary(main.newDictionary)">
               <span class="glyphicon glyphicon-plus"></span>Add</button>
            <div
              class="btn btn-xs btn-primary btn-upload"
              upload-button
              url="/api/dictionarys/upload"
              on-success="main.refreshDictionaries(response)"
            ><span class="glyphicon glyphicon-import"></span>Import</div>
          </span>
        </span>
      </div>

    </div>
  </div>
</div>
